In [1]:
import climetlab as cml

In [2]:
from climetlab.sources.url import offline
# offline(True)

In [3]:
url = "https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii"

In [4]:
url = "https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii.table"

In [5]:
s = cml.load_source("url", url)

HEAD https://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii.table
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/urllib3/connection.py", line 169, in _new_conn
    conn = connection.create_connection(
  File "/usr/local/lib/python3.9/site-packages/urllib3/util/connection.py", line 73, in create_connection
    for res in socket.getaddrinfo(host, port, family, socket.SOCK_STREAM):
  File "/usr/local/Cellar/python@3.9/3.9.6/Frameworks/Python.framework/Versions/3.9/lib/python3.9/socket.py", line 953, in getaddrinfo
    for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
socket.gaierror: [Errno 8] nodename nor servname provided, or not known

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/urllib3/connectionpool.py", line 699, in urlopen
    httplib_response = self._make_request(
  File "/usr/local/lib/python3.9/site-packages/urllib3/connectionpool.py", line 382, in _make_request
    self._validate_conn(conn)
  File "/usr/local/lib/python3.9/site-packages/urllib3/connectionpool.py", line 1010, in _validate_conn
    conn.connect()
  File "/usr/local/lib/python3.9/site-packages/urllib3/connection.py", line 353, in connect
    conn = self._new_conn()
  File "/usr/local/lib/python3.9/site-packages/urllib3/connection.py", line 181, in _new_conn
    raise NewConnectionError(
urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPSConnection object at 0x11ac69970>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/requests/adapters.py", line 439, in send
    resp = conn.urlopen(
  File "/usr/local/lib/python3.9/site-packages/urllib3/connectionpool.py", line 755, in urlopen
    retries = retries.increment(
  File "/usr/local/lib/python3.9/site-packages/urllib3/util/retry.py", line 573, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='www.cpc.ncep.noaa.gov', port=443): Max retries exceeded with url: /products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii.table (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x11ac69970>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/baudouin/git/climetlab/climetlab/sources/url.py", line 148, in headers
    r = requests.head(
  File "/usr/local/lib/python3.9/site-packages/requests/api.py", line 104, in head
    return request('head', url, **kwargs)
  File "/usr/local/lib/python3.9/site-packages/requests/api.py", line 61, in request
    return session.request(method=method, url=url, **kwargs)
  File "/usr/local/lib/python3.9/site-packages/requests/sessions.py", line 542, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/local/lib/python3.9/site-packages/requests/sessions.py", line 655, in send
    r = adapter.send(request, **kwargs)
  File "/usr/local/lib/python3.9/site-packages/requests/adapters.py", line 516, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='www.cpc.ncep.noaa.gov', port=443): Max retries exceeded with url: /products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii.table (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x11ac69970>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

Warning: ecCodes 2.21.0 or higher is recommended. You are running version 2.20.0

In [6]:
pd.read_fwf(s.path, header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,1950.0,-0.060,0.627,-0.008,0.555,0.072,0.539,-0.802,-0.851,0.358,-0.379,-0.515,-1.928
2,1951.0,-0.085,-0.400,-1.934,-0.776,-0.863,-0.918,0.090,-0.377,-0.818,-0.213,-0.069,1.987
3,1952.0,0.368,-1.747,-1.859,0.539,-0.774,-0.441,0.383,-0.030,-0.383,-0.437,-1.891,-1.827
4,1953.0,-1.036,-0.249,1.068,-1.256,-0.562,0.023,0.333,0.085,0.662,-0.194,0.354,0.575
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017.0,0.942,0.340,1.365,-0.089,-0.730,0.402,0.634,0.150,-0.492,0.690,-0.078,-0.059
69,2018.0,-0.281,0.113,-0.941,0.544,1.180,0.380,0.612,0.836,0.585,0.413,-1.116,0.110
70,2019.0,-0.713,1.149,2.116,-0.255,-1.231,-0.601,-0.890,-0.722,0.306,-0.082,-1.193,0.412
71,2020.0,2.419,3.417,2.641,0.928,-0.027,-0.122,-0.412,-0.381,0.631,-0.072,2.086,-1.736
72,2021.0,-2.484,-1.191,2.109,-0.204,-0.161,0.840,0.625,-0.217,NaN,NaN,NaN,NaN

In [7]:
pd.read_fwf(s.path)

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1950,-0.060,0.627,-0.008,0.555,0.072,0.539,-0.802,-0.851,0.358,-0.379,-0.515,-1.928
1,1951,-0.085,-0.400,-1.934,-0.776,-0.863,-0.918,0.090,-0.377,-0.818,-0.213,-0.069,1.987
2,1952,0.368,-1.747,-1.859,0.539,-0.774,-0.441,0.383,-0.030,-0.383,-0.437,-1.891,-1.827
3,1953,-1.036,-0.249,1.068,-1.256,-0.562,0.023,0.333,0.085,0.662,-0.194,0.354,0.575
4,1954,-0.148,-0.181,0.476,0.512,-1.656,-0.268,0.341,-0.122,0.301,0.513,-0.328,0.553
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2017,0.942,0.340,1.365,-0.089,-0.730,0.402,0.634,0.150,-0.492,0.690,-0.078,-0.059
68,2018,-0.281,0.113,-0.941,0.544,1.180,0.380,0.612,0.836,0.585,0.413,-1.116,0.110
69,2019,-0.713,1.149,2.116,-0.255,-1.231,-0.601,-0.890,-0.722,0.306,-0.082,-1.193,0.412
70,2020,2.419,3.417,2.641,0.928,-0.027,-0.122,-0.412,-0.381,0.631,-0.072,2.086,-1.736
71,2021,-2.484,-1.191,2.109,-0.204,-0.161,0.840,0.625,-0.217,NaN,NaN,NaN,NaN