In [1]:
import climetlab as cml

In [3]:
s = cml.load_source("file", "timeseries.csv")

Warning: ecCodes 2.21.0 or higher is recommended. You are running version 2.20.0

In [4]:
s.to_pandas()

         date  value
0  2000-01-01     43
1  2000-01-02     56
2  2000-01-03     -6
3  2000-01-04      8
4  2000-01-05     12
5  2000-01-06      4
6  2000-01-07      5

In [5]:
cml.plot_graph(s)

AttributeError: module 'climetlab' has no attribute 'plot_graph'